<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ index . "title" }}</title>

    <!--  Meta tags for social media sharing -->
    <meta content='{{ index . "title" }}' property="og:title" />
    <meta
      content='
      {{ index . "totalLines" }} Total Lines
    
      Click to view the Paste.'
      property="og:description"
    />

    <!-- TailwindCSS -->
    <script src="/assets/external/tailwindcss.js"></script>

    <!-- Highlight.js -->
    <link rel="stylesheet" href="/assets/external/atom-one-dark.min.css" />
    <script src="/assets/external/highlight.min.js"></script>

    <!-- Highlight.js line numbers -->
    <script src="/assets/external/highlightjs-line-numbers.min.js"></script>
  </head>
  <body class="bg-neutral-900 text-white h-screen relative">
    <pre><code class="bg-transparent text-sm">{{ index . "content" }}</code></pre>

    <div class="absolute top-0 right-0 p-3">
      <button id="raw-button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">
        <a href='{{ index . "rawUrl" }}'>Raw</a>
      </button>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">
        <a href="/">New</a>
      </button>
    </div>
  </body>
  <script>
    console.log(`Using Highlight.js version ${hljs.version}`);
    hljs.highlightAll(); // Highlight the code block
    hljs.initLineNumbersOnLoad(); // Add line numbers to the code block

    // Custom select all behavior to select all the content inside the <pre> block
    document.addEventListener("keydown", function (event) {
      if (event.ctrlKey && event.key === "a") {
        event.preventDefault(); // Prevent the default select all behavior

        // Select all the content inside the <pre> block
        const preBlock = document.querySelector("pre");
        const range = document.createRange();
        range.selectNodeContents(preBlock);

        const selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(range);
      }
    });
  </script>
</html>
